mlflow_uri: "http://localhost:5000"
script_path: "test_data/train_local.py"


instances:
  - name: local_run
    mode: local
    workdir: "./local_test"           
    target_workdir: "./test_1"            # Where training and venv will live
    venv_name: "flowkestra_env_local"   # Name of the virtual environment
    requirements: "requirements_local.txt"   # Pip requirements file
    etl_script: "etl_local.py"       # ETL script path
    training_script: "train_local.py" # Training script path
    dataset_path: "test_data/train_local.csv"   # Input dataset
    artifacts:
      - source: "outputs"        # Output folder in venv/workdir
        target: "./local_outputs/"  # Local folder to copy artifacts to

  # - name: remote_gpu_server
  #   mode: remote
  #   mlflow_uri: "http://mlflow.yourserver.com:5000"
  #   venv_name: "flowkestra_env_gpu"
  #   requirements: "requirements_gpu.txt"
  #   etl_script: "scripts/etl_remote.py"
  #   training_script: "scripts/train_remote.py"
  #   dataset_path: "./data/train_remote.csv"
  #   remote:
  #     hostname: "192.168.1.100"
  #     username: "ubuntu"
  #     key_filename: "~/.ssh/id_rsa"
  #     remote_workdir: "/home/ubuntu/flowkestra_runs/gpu_run"
